<%- include('../../layout/header.ejs') %>

<form action="/searches" method="POST" class="search_form">
  <input type="text" name="search[keyword]" placeholder="Enter a title or author" class="search_field">
  <div class="radio_btn">
    <label for="title">Title</label>
    <input type="radio" name="search[type]" value="title" checked>
  </div>
  <div class="radio_btn">
    <label for="author">Author</label>
    <input type="radio" name="search[type]" value="author">
  </div>
  <button class="submit_btn" type="submit">Search the Google Books API</button>
</form>

<%- include('../../layout/footer.ejs') %>