<%- include('../layout/header.ejs') %>

  <h1 class="bookshelf_header">Your bookshelf:</h1>
  <ul class="bookshelf_book">
    <li>
      <% books.forEach(book => { %>
      <a href="/books/<%= book.id %>">
        <%- include('./books/detail.ejs', { book, short_description: true }) %>
      </a>
      <% }) %>
    </li>
  </ul>
<%- include('../layout/footer.ejs') %>