<%- include('../layout/header.ejs') %>

<h1>Welcome to Open Shelf: A Book Wiki</h1>
<p>Results: <%= totalBookCount %></p>
<ul>
  <li>
    <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
      <%- include('./books/detail.ejs', {book}) %>
    </a>
    <% }) %>
  </li>
</ul>
</body>

</html>