<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
  <title>Open Shelf: A Book Wiki</title>
</head>

<body>
  <header class="header">
    <a href="/" class="logo">Open Shelf</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="/searches/new">Search</a></li>
      <li><a href="#">Bookshelf</a></li>
    </ul>
  </header>

<!-- Credit: https://codepen.io/mutedblues/pen/MmPNPG  -->